<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>快聊</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js
"></script>

    {##}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        .weui_tabbar {
            position: fixed;
        }
        body {background-color: #f8f8f8}
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            {# 检测cookie，来确定是否匹配异性 #}
            check = $('#s11');
            temp = $.cookie('sex_match');
            if (temp==='0') {
                check.attr('checked',false);
{#                alert('不匹配异性');#}
            }
             check.click(function() {
                if ($(this).is(":checked")) {
                    $.cookie('sex_match', '1', { expires: 365 });  {# 匹配异性 #}
{#                    alert($.cookie('sex_match'))#}

                }else{
                    $.cookie('sex_match', '0', { expires: 365 });  {# 随便 #}
{#                    alert($.cookie('sex_match'))#}
                }
             });

            {#  如积分等0，那么就提示去赚积分  #}
            chat_btn = $('.weui-btn_plain-primary');
            score_availble = {{ score_available }};
            chat_btn.click(function () {
                if (score_availble === 0) {
                    //弹出删除对话框
                    $iosDialog1 = $("#iosDialog1");
                    $iosDialog1.fadeIn(200);
                    //点取消按钮
                    $iosDialog1.on('click', '.weui-dialog__btn_default', function(){
                        $iosDialog1.fadeOut(200);
                    });
                        //点确定按钮，删除图片
                    $iosDialog1.on('click', '.weui-dialog__btn_primary', function(){
                        $iosDialog1.fadeOut(200);
                    });
{#                    alert('333');#}
                    return false
                }
            });

        })
    </script>


</head>

<body>

{#      <h3 class="text-center">这是首页</h3>#}
{#        [[ message ]]#}
{#      <h3 class="text-center">自己信息</h3>#}
{#        <div>用户id：{{ my.id }}</div>#}
{#    <div>用户名：{{ my.name }}</div>#}
{#    <div>状态：{{ my.state }}</div>#}
{#    <div>性别：{{ my.sex }}</div>#}
{#    <div>可用积分：{{ my.score_today }}</div>#}
{##}
{#    {% if state == '3'  %}#}
{#      <h3 class="text-center">对方用户(如果有)</h3>#}
{#    <div>用户id：{{ user_chat.id }}</div>#}
{#    <div>用户呢称：{{ user_chat.name }}</div>#}
{#    <div>性别：{{ user_chat.sex }}</div>#}
{#            <div>状态：{{ user_chat.state }}</div>#}
{#    <div>个人简介：{{ user_chat.introdution}}</div>#}
{#    <div>头像url：{{ user_chat.image_url }}</div>#}
{#    {% endif %}#}


    {% if state == '1' %}   {# 空闲中 #}
        <div class="button-sp-area">
        <div align="center"><div >这里要放一个图片</div></div>
        <div ><a href="{{ url_gochat }}"  class="weui-btn weui-btn_plain-primary" style="width: 200px">随机匹配</a>  </div>
        </div>

    {% elif state == '2' %}  {# 匹配中 #}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">匹配中，请留意微信提醒</h2>
                <p class="weui-msg__desc">网友都比较忙，系统自动匹配30分钟</p>
            </div>
        </div>
        <br>
        <br>
        <div align="center">  <a href="{{ url_leave }}" class="weui-btn weui-btn_mini weui-btn_default">离开</a> </div>

    {% else %}   {# 成功匹配 #}

        <div style="margin-top: 20px" class="weui-panel weui-panel_access">
{#            <div class="weui-panel__hd">图文组合列表</div>#}
            <div class="weui-panel__bd">
                <a href="{{ url_info }}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/media/{{ user_chat.image1 }}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ user_chat.name }}</h4>
                        <p class="weui-media-box__desc">{{ user_chat.introduction }}</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">成功匹配 <a href="{{ url_info }}">{{ user_chat.name }}</a>，点左上角『返回/关闭』到公众号对话框与TA对话.</h2>
{#                <p class="weui-msg__desc">网友都比较忙，系统自动匹配30分钟</p>#}
            </div>
        </div>

        <div align="center">  | <a href="{{ url_leave }}">离开</a> </div>
    {% endif %}


        <div align="center">
            <a href="http://baidu.com">
          <div  class="weui-cells__title">可用积分：{{ score_available }}</div>
                </a>
        </div>

    <div class="weui-cells weui-cells_checkbox" id="match_type">
        <label class="weui-cell weui-check__label" for="s11">
            <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked" >
{#                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" >#}
                <i class="weui-icon-checked" ></i>
            </div>
            <div class="weui-cell__bd">
                <p>匹配异性</p>
            </div>
        </label>

    </div>
{##}
{#<div class="weui-tab">#}
{#    <div class="weui-tab__panel">#}
{#    <div class="weui_tab_bd"></div>#}
{#    <div>325</div>#}
{#</div>#}

    <div class="weui-tabbar">
        <a href="{{ url_site }}" class="weui-tabbar__item weui-bar__item_on">
            <img src="{{ url_site }}media/icon/icons8-Lightning Bolt_2.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">快聊</p>
        </a>


        <a href="{{ url_site }}chat-list/" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <img src="{{ url_site }}media/icon/icons8-Comments Filled.png" alt="" class="weui-tabbar__icon">
                {% if unreadSum != 0 %}
                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">{{ unreadSum }}</span>
                {% endif %}
            </span>
            <p class="weui-tabbar__label">消息</p>

        </a>
        <a href="{{ url_site }}my/" class="weui-tabbar__item">
            <img src="{{ url_site }}media/icon/icons8-User.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>

    </div>


    <div id="dialogs">
        <!--BEGIN dialog1-->
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">你今天的可用积分已用完，可邀请朋友来打气获得积分</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="delete_cancel">取消</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="delete_confirm">去邀请</a>
                </div>
            </div>
        </div>
    </div>

{#    <script src="../js/app.js"></script>#}

</body>
</html>


