<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>九点聊天</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js
"></script>

    {##}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        .weui-tabbar{
            position: fixed;
        }
        body {background-color: #f8f8f8}
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            {# 检测cookie，来确定是否匹配异性 #}
            check = $('#s11');
            temp = $.cookie('sex_match');
            if (temp==='0') {
                check.attr('checked',false);
{#                alert('不匹配异性');#}
            }
             check.click(function() {
                if ($(this).is(":checked")) {
                    $.cookie('sex_match', '1', { expires: 365 });  {# 匹配异性 #}
{#                    alert($.cookie('sex_match'))#}

                }else{
                    $.cookie('sex_match', '0', { expires: 365 });  {# 随便 #}
{#                    alert($.cookie('sex_match'))#}
                }
             });

            {#  如积分等0，那么就提示去赚积分  #}
            chat_btn = $('.weui-btn_plain-primary');
            score_availble = {{ score_available }};
            chat_btn.click(function () {
                if (score_availble === 0) {
                    //弹出删除对话框
                    $iosDialog1 = $("#iosDialog1");
                    $iosDialog1.fadeIn(200);
                    //点取消按钮
                    $iosDialog1.on('click', '.weui-dialog__btn_default', function(){
                        $iosDialog1.fadeOut(200);
                    });
                        //点确定按钮，删除图片
                    $iosDialog1.on('click', '.weui-dialog__btn_primary', function(){
                        $iosDialog1.fadeOut(200);
                    });
{#                    alert('333');#}
                    return false
                }
            });

{#            离开聊天#}
            leave = $("#leave");
            leave.click(function () {
                $iosDialogLeave = $("#iosDialogLeave");
                $iosDialogLeave.fadeIn(200);
                //点取消按钮
                $iosDialogLeave.on('click', '.weui-dialog__btn_default', function(){
                    $iosDialogLeave.fadeOut(200);
                    return false
                });
                    //点确定按钮
                $iosDialogLeave.on('click', '.weui-dialog__btn_primary', function(){
                    $iosDialogLeave.fadeOut(200);
                    location.href="{{ url_leave }}";
                });
{#                    alert('333');#}
                return false
            });


            //去匹配, 如果nine是1，表示在9点或以后，就不会提示
            goMatch = $("#goMatch");
            goMatch.click(function () {
                nine={{ nine }};
                if (nine === 0) {
                    $iosDialog2 = $("#iosDialog2");
                    $iosDialog2.fadeIn(200);
                }
                else {
                    location.href="{{ url_gochat }}";
                }
            });

            knowIT = $("#knowIt");
            knowIT.click(function () {
                location.href="{{ url_gochat }}";
            });



            //去聊天
            gochat = $("#gochat");
            gochat.click(function () {
                WeixinJSBridge.call('closeWindow');
{#                window.close();#}
{#            $.get("{{ url_gochat }}",function(data,status){#}
{##}
{#            alert("数据：" + data + "\n状态：" + status);#}
{#                if (data === '1') {#}
{##}
{#                }#}
{#             });#}
            });


            //提醒获取推荐用户
            $iosDialog3 = $("#iosDialog3");
            $('#checkIn').click(function () {
                $iosDialog3.fadeIn(200);
            });
            $("#iKnow").click(function () {
                $iosDialog3.fadeOut(200);
                url = '{{ url_site }}';
                setTimeout("window.location.href=url",10);

            });


            //addMore
            addMore = $('#addMore');
            $toast = $('#toast');
            scoreSum = $('#scoreSum');
            iosDialog4 = $('#iosDialog4');
            addMore.click(function () {
                if (parseInt(scoreSum.text()) === 0){
                    iosDialog4.fadeIn(200);
                }
                else {
                    score = $('#scoreAvaiable');
                    score.text(parseInt(scoreSum.text() - 1)); //toast显示可用积分
                    if ($toast.css('display') != 'none') return;
                    $toast.fadeIn(100);
                    setTimeout(function () {
                        $toast.fadeOut(100);
                        }, 1000
                    );
                    url = '{{ url_site }}' + '?action=addMore';
                    setTimeout("window.location.href=url",1000);
                }
            });
            $('#leave2').click(function () {
                iosDialog4.fadeOut(200);
            });



            //检查自己资料是否完整
            userRecommend = $('.user-recommend');
            userRecommend.bind('click',function () {
{#                url = '{{ url_site }}' + 'my?action=infoCheck';#}
                url = $(this).attr('href');  //目标用户页面
                url_check = url + '&check=check';
{#                alert(url_check);#}
{#                url2 = $(this).attr('href');  //目标用户页面#}
                $.get(url_check, function (data,status) {
                    //资料完整
                    if(data === '1'){
                        setTimeout("window.location.href=url",10);
                    }
                    else{ //不完整
                        $('#infoNotText').text(data);
                        $iosDialog5 = $("#iosDialog5");
                       $iosDialog5.fadeIn(200);
                       //异步访问一次目标用户，实践就是刷新recommend表
{#                        $.get(url2, function (data,status) {#}
{#                            //不用处理返回#}
{#                        });#}
                    }
                }) ;
                return false;//不a标签让自动跳转
            });



            $('#goModifyInfo').click(function () {
                url = '{{ url_site }}' + 'modify-info/';
                setTimeout("window.location.href=url",10);
            })


        })
    </script>


</head>

<body>

{#      <h3 class="text-center">这是首页</h3>#}
{#        [[ message ]]#}
{#      <h3 class="text-center">自己信息</h3>#}
{#        <div>用户id：{{ my.id }}</div>#}
{#    <div>用户名：{{ my.name }}</div>#}
{#    <div>状态：{{ my.state }}</div>#}
{#    <div>性别：{{ my.sex }}</div>#}
{#    <div>可用积分：{{ my.score_today }}</div>#}
{##}
{#    {% if state == '3'  %}#}
{#      <h3 class="text-center">对方用户(如果有)</h3>#}
{#    <div>用户id：{{ user_chat.id }}</div>#}
{#    <div>用户呢称：{{ user_chat.name }}</div>#}
{#    <div>性别：{{ user_chat.sex }}</div>#}
{#            <div>状态：{{ user_chat.state }}</div>#}
{#    <div>个人简介：{{ user_chat.introdution}}</div>#}
{#    <div>头像url：{{ user_chat.image_url }}</div>#}
{#    {% endif %}#}


    {% if state == '1' %}   {# 空闲中 #}
        <div class="button-sp-area">
            <div align="center">
                <img src="{{  url_site }}media/icon/icons8_2100.png" alt=""  class="" style="padding-top: 30px;padding-bottom: 10px" >
            </div>
    {#        {% if my.sex == '1' %}#}
    {#        <div >#}
    {#            <a href="javascript:;"  class="weui-btn weui-btn_plain-primary" style="width: 200px" id="goMatch" >快速匹配</a> #}
    {#        </div>#}
    {#        {% else %}#}
    {#            <div  >#}
    {#                <div><a href="javascript:;"  class="weui-btn weui-btn_plain-primary" style="width: 150px" id="goMatch" >快速匹配</a>  </div>#}
    {#                <div style="float: right;"><a href="javascript:;"  class="weui-btn weui-btn_plain-primary" style="width: 150px" id="goMatch" >快速匹配</a>  </div>#}
    {#            </div>#}
    {#        {% endif %}#}
            {% if key_re == '0' %}
            <div>
            <a href="javascript:;"  class="weui-btn weui-btn_plain-primary" style="width: 200px" id="checkIn" > 主人，请签到</a>
            </div>
            {% endif %}

        </div>


    {% elif state == '2' %}  {# 匹配中 #}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">匹配中，请留意微信提醒</h2>
                <p class="weui-msg__desc">网友都比较忙，系统为你自动匹配30分钟</p>
            </div>
        </div>
        <br>
        <div align="center">  <a href="{{ url_leave }}" class="weui-btn weui-btn_mini weui-btn_default">离开</a> </div>

    {% else %}   {# 成功匹配 #}

        <div style="margin-top: 20px" class="weui-panel weui-panel_access">
{#            <div class="weui-panel__hd">已匹配</div>#}
            <div class="weui-panel__bd">
                <a href="{{ url_info }}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{{ user_chat.image_url }}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ user_chat.name }}</h4>
                        <p class="weui-media-box__desc">{{ user_chat.introduction }}</p>
                    </div>
                                        <div class="weui-cell__ft">></div>

                </a>
            </div>
        </div>

        <div class="weui-msg">
{#            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>#}
            <div class="weui-msg__text-area">
                <h4 class="weui-msg__title">成功匹配：{{ user_chat.name }}</h4>
{#                <h2 class="weui-msg__title">成功匹配 <a href="{{ url_info }}">{{ user_chat.name }}</a>，点左上角『返回/关闭』到公众号对话框与TA对话.</h2>#}
            </div>
        </div>
        <div align="center">

            <a href="javascript:;" class="weui-btn weui-btn_plain-primary" style="width: 150px" id="gochat">去聊天</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" style="width: 150px; margin-top: 20px" id="leave">离开</a>
        </div>


{#        <div align="center">  | <a href="" id="gochat">去聊天</a> </div>#}
{#        <div align="center">  | <a href="" >离开</a> </div>#}
    {% endif %}


        <div align="left" style="padding-left: 7px; padding-top: 10px;">
            <a href="{{ url_site }}score-desc">
          <div  class="weui-cells__title" >
              {% if scoreText != '' %}
                  <span style="color: darkred">{{ scoreText }}</span>
              {% else %}
              可用积分:<span id="scoreSum">{{ score_available }}</span>，<span style="color: cornflowerblue">赚积分</span>
              {% endif %}
          </div>
                </a>
        </div>


{#{% if state == '1' %}#}
{#    <div class="weui-cells weui-cells_checkbox" id="match_type">#}
{#        <label class="weui-cell weui-check__label" for="s11">#}
{#            <div class="weui-cell__hd">#}
{#                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked" >#}
{#                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" >#}
{#                <i class="weui-icon-checked" ></i>#}
{#            </div>#}
{#            <div class="weui-cell__bd">#}
{#                <p>匹配异性</p>#}
{#            </div>#}
{#        </label>#}
{#    </div>#}
{#{% endif %}#}


{#{% if user_active != 0 and state == '1' or state == '2'%}#}
{#    <a href="{{ url_site }}active-list/">#}
{#        {% for i in user_active %}#}
{#        <div>#}
{#            {{ i.name }}#}
{#            <img style="height: 40px;width: 40px" src="{{ i.image_url }}"/>#}
{#        </div>#}
{#        {% endfor %}#}
{#    </a>#}
{#{% endif %}#}

    <!-- 活跃用户 -->
{#    {% if user_active != '0' and state == '1' and user_active.count > 5 %}#}
{#    <div class="weui-cells weui-cells_form">#}
{#        <a href="{{ url_site }}active-list/">#}
{#            <div class="weui-cell">#}
{#                <div class="weui-cell__bd" >#}
{#                    <div class="weui-uploader__bd" >#}
{#                        <ul class="weui-uploader__files" id="uploaderFiles" >#}
{#                            {% for i in user_active %}#}
{#                            <li  class="weui-uploader__file"  style="background-image:url({{ i.image_url }})"></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </a>#}
{#    </div>#}
{#    {% endif %}#}


<!-- 今天推荐的用户-->
    {% if  user_re.count > 0 and my.state != '3' and key_re == '1'%}
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd"> 今天推荐
{#                <a href="/?action=addMore"><div style="float: right;color: cornflowerblue">再来1个</div></a>#}
                <div style="float: right;color: cornflowerblue" id="addMore">再来1个</div>
            </div>
            <div class="weui-panel__bd">
            {% for i in user_re %}
                <a href="{{ url_site }}user/{{ i.rid.id }}/?action=recommend" class="weui-media-box weui-media-box_appmsg user-recommend">
                    <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                        <img  src="{{ i.rid.image_url }}" style="width: 58px;height: 58px;display: block">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ i.rid.name }}</h4>
{#                    <span ="sex"></span><span> </span><span id="age"></span>#}
                        <p class="weui-media-box__desc">{{ i.rid.introduction }}</p>
{#                        <p class="weui-media-box__desc">{{ i.i.time }}</p>#}
                    </div>
                    <!-- 如果是自己时女性，可以宠幸这个男生-->
                    {% if my.sex == '0' %}
                        <div class="weui-cell__ft">宠幸他 ></div>
                    {% else %}
                        <div class="weui-cell__ft">送花 ></div>
                    {% endif %}
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}

<br>
<br>

{##}
{#<div class="weui-tab">#}
{#    <div class="weui-tab__panel">#}
{#    <div class="weui_tab_bd"></div>#}
{#    <div>325</div>#}
{#</div>#}



    <div class="weui-tabbar">
        <a href="{{ url_site }}" class="weui-tabbar__item weui-bar__item_on">
            <img src="{{ url_site }}media/icon/icons8-Lightning Bolt_2.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">配对</p>
        </a>


        <a href="{{ url_site }}chat-list/" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <img src="{{ url_site }}media/icon/icons8-Comments Filled.png" alt="" class="weui-tabbar__icon">
                {% if unreadSum != 0 %}
                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">{{ unreadSum }}</span>
                {% endif %}
            </span>
            <p class="weui-tabbar__label">留言</p>

        </a>
        <a href="{{ url_site }}my/" class="weui-tabbar__item">
            <img src="{{ url_site }}media/icon/icons8-User.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>

    </div>


    <div id="dialogs">
        <!--BEGIN dialog1-->
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">你今天的可用积分已用完，可邀请朋友"打气"获得积分</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="">取消</a>
                    <a href="{{ url_daqi }}" class="weui-dialog__btn weui-dialog__btn_primary" id="">去邀请</a>
                </div>
            </div>
        </div>
    </div>

    <div id="dialogs">
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialogLeave" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">你正在与"{{ user_chat.name }}"聊天，确定退出？</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="">取消</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="delete_confirm">确定</a>
                </div>
            </div>
        </div>
    </div>


        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">亲,大部分用户是晚上九点后登录，当前用户可能不多，请耐心等待或稍后再来</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="knowIt">知道了</a>
                </div>
            </div>
        </div>

        <!--BEGIN dialog3-->
        <div class="js_dialog" id="iosDialog3" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">
                    {% if my.sex == '0' %}
                    女皇好，今天推荐已为你准备，请看看要宠幸谁 ：》
                    {% else %}
                    大王好，今天女神推荐已为你正准备好，请看看要给谁送花 ：》
                    {% endif %}
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="iKnow">知道了,退下吧</a>
                </div>
            </div>
        </div>

    <!--BEGIN toast-->
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>

            <p class="weui-toast__content">
                消耗1积分
                <br>
                (可用积分:<span id="scoreAvaiable">1</span>）
            </p>
        </div>
    </div>
    <!--end toast-->



        <!--BEGIN dialog4 积分用完-->
        <div class="js_dialog" id="iosDialog4" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">积分用完了!<br>可邀请朋友"打气"获得积分</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="leave2">取消</a>
                    <a href="{{ url_daqi }}" class="weui-dialog__btn weui-dialog__btn_primary" id="">去邀请</a>
                </div>
            </div>
        </div>


        <!--BEGIN dialog5 提示去完成资料-->
        <div class="js_dialog" id="iosDialog5" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">请完善你的资料！</strong></div>
                <div class="weui-dialog__bd">
                    <br>
                    <span id ='infoNotText'>XXX</span></div>
                <div class="weui-dialog__ft">
{#                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="leave3"></a>#}
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="goModifyInfo">知道，去完善</a>
                </div>
            </div>
        </div>
<br>
<br>

{#    <script src="../js/app.js"></script>#}

</body>
</html>


