<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>积分说明</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>

{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}
    <style type="text/css">
        body {background-color: #f8f8f8}
    </style>

</head>

<body>





    <div class="container" id="app">
{#      <h3 class="text-center">积分说明</h3>#}
{#        [[ message ]]#}
    </div>

<article class="weui-article">
{#            <h1>大标题</h1>#}
            <section>
                <h1 class="title">积分说明</h1>
                <section>
                    <h3>获取积分</h3>
                    <ol style="margin-left: 30px">
                        <li>邀请朋友来"打气"，朋友打气一次，你获得2积分</li>
                        <li>邀请一个朋友来注册获得100积分，被邀请者也获得100积分</li>
                        <li>每天登录自动获得30~60临时积分(当天有效)，24点临时积分清零</li>
                        <li>通过活动等方式有机会获得临时积分或永久积分，具体依据活动而定</li>
                    </ol>
                </section>
                <section>
                    <h3>消费积分</h3>
                    <ol style="margin-left: 30px">
                        <li>每次成功随机配对，-1积分 </li>

                    </ol>
                </section>
            </section>
        </article>

</body>
</html>


