<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>留言</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>

{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}



    <style type="text/css">
        .weui-tabbar{
            position: fixed;
        }
        body {background-color: #f8f8f8}
    </style>

</head>

<body>

<div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-panel__hd">聊过的</div>
            <div class="weui-panel__bd">
            {% for i in chatList %}
                <a href="{{ i.url }}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                        <img  src="{{ i.i.sid.image_url }}" style="width: 58px;height: 58px;display: block">
                        {% if i.i.unread != 0 %}
                        <span class="weui-badge" style="position: absolute;top: -5px;right: -.4em;">{{ i.i.unread }}</span>
                        {% endif %}
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ i.i.sid.name }}</h4>
                        <p class="weui-media-box__desc">{{ i.i.content }}</p>
                        <p class="weui-media-box__desc">{{ i.i.time }}</p>
                    </div>
                        <div class="weui-cell__ft">></div>
                </a>

            {% endfor %}
            <br>
            <br>
            <br>

        </div>
            <div class="weui-tabbar">
                <a href="{{ url_site }}" class="weui-tabbar__item">
                    <img src="{{ url_site }}media/icon/icons8-Lightning Bolt_2.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">配对</p>
                </a>
                <a href="{{ url_site }}chat-list/" class="weui-tabbar__item weui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <img src="{{ url_site }}media/icon/icons8-Comments Filled.png" alt="" class="weui-tabbar__icon">
                        {% if unreadSum != 0 %}
                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">{{ unreadSum }}</span>
                        {% endif %}            </span>
                    <p class="weui-tabbar__label">留言</p>

                </a>
                <a href="{{ url_site }}my/" class="weui-tabbar__item ">
                    <img src="{{ url_site }}media/icon/icons8-User.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我的</p>
                </a>

            </div>
        </div>
</div>

</body>
</html>


