
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    {% block title %} <title>微信上最大的英语交流社区</title>  {% endblock %}
    {% block description %} <meta name="description" content="">  {% endblock %}
    <meta name="keywords" content="、">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>

    {% block extra_head %}

    {% endblock %}
</head>


<body>
<div class="container">
{% block body %}

{% endblock %}

<footer style="margin-top: 20px;">
            <div  style="text-align: center;clear:both;">
                <p style="color:#777777;font-size: 12px">微信上最大的口语练习社区</p>
               <a href="http://mp.weixin.qq.com/s?__biz=MjM5NzYxMTgxNw==&mid=201063322&idx=2&sn=c6b397b2e1a8588385924598a5cdf50a#rd">
                   <p style="font-size: 12px">（在微信搜:<span style="">“口语桥”</span>）</p>
               </a>
            </div>
            <div style="padding-left: 10px; padding-right: 10px;">
                <span class="pull-left"><a href="http://wsq.qq.com/reflow/165500268">求助与建议</a></span>
                <span class="pull-right"> &copy;24英语角 | license </span>
            </div>
            <div  style="text-align:right; margin-right: 10px;  clear: both;">
                <img src="http://sae.sina.com.cn/doc/_images/poweredby-117x12px.gif">
            </div>
</footer>

</div>

</body>




</html>