<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>某个引导</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>

{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}
    <style type="text/css">
        body {background-color: #f8f8f8}
    </style>

</head>

<body>





    <div class="container" id="app">
{#      <h3 class="text-center">积分说明</h3>#}
{#        [[ message ]]#}
    </div>

<article class="weui-article">
{#            <h1>大标题</h1>#}
        <h1 class="title">积分说明</h1>
        <section>
            <h3>获取积分</h3>
            <ol style="margin-left: 30px">
                <li><a href="{{ site_url }}invite?action=daqi&uid={{ uid }}" style="font-size: 18px">邀请朋友帮"打气"</a>，朋友点1次打气，你获得1积分</li>
{#                <li>邀请一个朋友来注册获得30积分，被邀请者也获得100积分</li>#}
                <li>每天打卡获得当天赠送(当天有效)</li>
                <li>朋友送花给自己，每获赠1朵花就相应获得1积分（永久有效）</li>
                <li>通过活动等方式获得永久积分，具体依据活动而定</li>
            </ol>
        </section>
        <section>
            <h3>消费积分</h3>
            <ol style="margin-left: 30px">
                <li>送花给朋友，每送1朵花消耗1个积分 </li>
                <li>查看更多推荐用户，每增加1个消耗1个积分 </li>

            </ol>
        </section>
        <section>
            <h3>购买积分</h3>
            <ol style="margin-left: 30px">
                <li>正常每天赠送积分够用的，使用量大的用户才需要购买 </li>
                <li>请扫描下面付款码付款，请在"备注"添加你的用户ID(<a href="{{ site_url }}my">在【我的】查看</a>)，以便人工帮你冲积分(目前还不支撑自动充值)</li>
                <li>10元购买50积分(永久积分），购买后不能退，请谨慎购买 </li>
                <li>你购买积分的金额将用于软件开发和日常维护，感谢你的支持 </li>
            </ol>

            <p> </p>
            <p>付款码：</p>
            <img src="{{ site_url }}media/icon/shouhuang_code.JPG" width="80%">

            <p> </p>
            <p>有疑问请添加客服微信号:</p>
            <img src="{{ site_url }}media/icon/mandy_code.JPG" width="80%">

        </section></article>

</body>
</html>


