


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{{ user.name }}</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
{#    <link rel="stylesheet" href="../js/app.css">#}
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    {#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        body {background-color: #f8f8f8}
        .item { color: gray }
        .desc {color: black}
    </style>

    <script>
        $(document).ready(function() {
            sex = $('#sex');
            sexValue = {{ user.sex }};
{#            alert(sexValue);#}
            if (sexValue === 0) {
                sex.text('女');  //取label
            }
            else if (sexValue === 1) {
                sex.text('男');
            }
            else if (sexValue === 2) {
                sex.text('其他');
            }


            age = $('#age');
            ageValue = {{ user.age }};
            if (ageValue === 0) {
                age.text('12~18');
            }
            if (ageValue === 1) {
                age.text('18~25');
            }
            if (ageValue === 2) {
                age.text('25~32');
            }
            if (ageValue === 3) {
                age.text('33~40');
            }
            if (ageValue === 4) {
                age.text('40~50');
            }
            if (ageValue === 5) {
                age.text('50+');
            }
            $('#agePicker').text(age.text())
        })
    </script>

</head>

<body>

    <div class="container" id="app">
          <h3 class="text-center">{{ user.name }}</h3>
        <div>用户名：{{ user.name }}</div>
        <div>性别：{{ user.sex }}</div>
        <div>年龄段：{{ user.age }}</div>
        <div>状态：{{ user.state }}</div>
        <div>可用积分：{{ user.score_today }}</div>

        {% if myself == '1' %}
            <div><a href="{{ url }}">修改资料</a></div>
        {% endif %}
    </div>

        <div >
    <img style="width: 100%" src="http://img.sc115.com/uploads1/sc/jpgs/1510/apic15069_sc115.com.jpg" alt="">




    <br>

    <div class="weui-panel weui-panel_access">
{#            <div class="weui-panel__hd">文字组合列表</div>#}
        <div class="weui-panel__bd" style="float: left">
            <div class="weui-media-box weui-media-box_text">
                <h3 class="weui-media-box__title">{{ user.name }}</h3>
                <p class="weui-media-box__desc">
{#                    男，20~30，星座#}
                    <span id="sex"></span>,
                    <span id="age"></span>,
                    <span>{{ user.xingzuo }}</span>
                </p>

            </div>
        </div>

        {% if myself == '1' %}
        <div style="float: right; margin-right: 15px; margin-top: 20px">
            <a href="{{ url }}" class="weui-btn weui-btn_mini weui-btn_primary">修改资料</a>
        </div>
        {% endif %}
    </div>

    <div class="weui-cells__title">个人信息</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">在线状态</p>
            </div>
            <div class="weui-cell__ft, desc">在线</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">年龄段</p>
            </div>
            <div class="weui-cell__ft, desc" id="agePicker">18-20</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">星座</p>
            </div>
            <div class="weui-cell__ft, desc">{{ user.xingzuo }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">城市</p>
            </div>
            <div class="weui-cell__ft, desc">{{ user.city }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">行业</p>
            </div>
            <div class="weui-cell__ft, desc">{{ user.industry }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item">个性签名</p>
            </div>
            <div class="weui-cell__ft, desc">{{ user.introduction }}</div>
        </div>


    </div>
    <br>
    <br>

</body>
</html>


