


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{{ user.name }}</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
{#    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/4.0.0-beta.4/css/swiper.css">#}
{#    <link rel="stylesheet" href="https://cdn.bootcss.com/framework7/2.0.0-beta.8/css/framework7.rtl.min.css">#}

{#    <link rel="stylesheet" href="../js/app.css">#}
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{#    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/4.0.0-beta.4/js/swiper.js"></script>#}
    <script type="text/javascript" src="https://cdn.bootcss.com/framework7/2.0.0-beta.8/js/framework7.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js
"></script>
{#    <script type="text/javascript" src="../js/app.js"></script>#}

    {#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        body {background-color: #f8f8f8}
        .item { color: gray }
{#        .desc {color: black;#}
{#               margin-left: 30pt;#}
{#             text-align: left;#}

        }
    </style>

    <script>

        $(document).ready(function() {
            sex = $('#sex');
            sexValue = {{ user.sex }};
{#            alert(sexValue);#}
            if (sexValue === 0) {
                sex.text('女');  //取label
                $('#sexText').text('女');  //取label
            }
            else if (sexValue === 1) {
                sex.text('男');
                $('#sexText').text('男');
            }
            else if (sexValue === 2) {
                sex.text(' ');
                $('#sexText').text('其他');
            }


            age = $('#age');
            ageValue = {{ user.age }};
            if (ageValue === 0) {
                age.text('12~18');
            }
            else if (ageValue === 1) {
                age.text('18~25');
            }
            else if (ageValue === 2) {
                age.text('25~32');
            }
            else if (ageValue === 3) {
                age.text('33~40');
            }
            else if (ageValue === 4) {
                age.text('40~50');
            }
            else if (ageValue === 5) {
                age.text('50+');
            }
            else {
                age.text('-');
            }
            $('#agePicker').text(age.text());



            //展示gallery
            index = 0; //具体哪个图片
			$gallery = $("#gallery");
            $galleryImg = $("#galleryImg");
{#            $uploaderFiles = $("#uploaderFiles");#}
            $(".weui-uploader__files li").click(function () {
                index = $(this).index();
                $galleryImg.attr("style", this.getAttribute("style"));
                $gallery.fadeIn(100);
            });
{#            $uploaderFiles.on("click", "li", function(){#}
{#                $galleryImg.attr("style", this.getAttribute("style"));#}
{#                $gallery.fadeIn(100);#}
{#            });#}
            $gallery.on("click", function(){
                $gallery.fadeOut(100);
            });


            // 女孩主动配对，异步
            getMatch = $("#getMatch");
            $iosDialog2 = $('#iosDialog2');
            $iosDialog3 = $('#iosDialog3');
            iosDialog5 = $('#iosDialog5');
            getMatch.click(function () {

                $.get("{{ url_gochat }}",function(data,status){
{#                    alert("数据：" + data + "\n状态：" + status);#}
                    if (data === '1' || data === 1) {
                        $iosDialog2.fadeIn(200);
                    }
                    if (data === '0' || data === 0) {
                        $iosDialog3.fadeIn(200);
                    }
                    if (data === '2' || data === 2){
                        iosDialog5.fadeIn(200);
                    }
                 });
            });
            $("#match").click(function () {
{#                alert('233');#}
                WeixinJSBridge.call('closeWindow');
            });
            $("#noMatch1").click(function () {
{#                alert('2344');#}
{#                window.location.reload();#}
                $iosDialog3.fadeOut(200);
            });
            $("#noMatch2").click(function () {
{#                window.location.reload();#}
                iosDialog5.fadeOut(200);
            });


            // 送花，异步， 礼物位置
            flowerSum = $('#flowerSum');
            giftFlower = $('#giftFlower');

            //送花按钮，异步
            sendFlower = $('#sendFlower');
            $toast = $('#toast');
            $score = $('#score_avaiable');
            iosDialog4 = $('#iosDialog4');

            sendFlowerFun = function () {
                $.get("{{ url_sendFlower }}", function (data,status) {
                    if(data > 0){
                        $score.text(data-1);
                        temp = flowerSum.text();
                        flowerSum.text(parseInt(temp) + 1); //刷新礼物数量
                        giftFlower.css('background-image','url({{ img_gift_template.0 }})'); //第一次送花，把图片修改

                        if ($toast.css('display') != 'none') return;
                        $toast.fadeIn(100);
                        setTimeout(function () {
                            $toast.fadeOut(100);
                        }, 1000);
                        }
                    else{
                        iosDialog4.fadeIn(200);
                    }
               }) ;
            };
            //点击送花按钮
            sendFlower.click(function () {
               sendFlowerFun()
            });
            //点击礼物送花按钮
            giftFlower.click(function () {
               sendFlowerFun()
            });

            $('#leave').click(function () {
                iosDialog4.fadeOut(200);
            });


            //提醒每天赠送的积分,引导用户送花  (那女都会出这个提示)
            iosDialog6 = $('#iosDialog6');
            var remind = {{ remind }};
            if (remind === 1){
{#                alert(remind);#}
            }else {
                iosDialog6.fadeIn(200);
            }


           $("#close6").click(function () {
{#                window.location.reload();#}
                iosDialog6.fadeOut(200);
            });


           {% if myself == '1' %}
            //给未填写的资料，标记为红色
{#            $info = $(".weui-cell__ft");#}
            $info = $(".desc");
            $info.each(function () {
                var value = $(this).html();
                if (value === '') {
{#                    $item = $(this).parent().children().children('p');#}
                    $item = $(this).parent().children().children('label');
                    $item.css("color","red");
                }
            });
            {% endif %}


        });
    </script>



</head>

<body>

{#    <div class="container" id="app">#}
{#          <h3 class="text-center">{{ user.name }}</h3>#}
{#        <div>用户名：{{ user.name }}</div>#}
{#        <div>性别：{{ user.sex }}</div>#}
{#        <div>年龄段：{{ user.age }}</div>#}
{#        <div>状态：{{ user.state }}</div>#}
{#        <div>可用积分：{{ user.score_today }}</div>#}
{##}
{#        {% if myself == '1' %}#}
{#            <div><a href="{{ url }}">修改资料</a></div>#}
{#        {% endif %}#}
{#    </div>#}


{#    <img style="width: 100%" src="http://img.sc115.com/uploads1/sc/jpgs/1510/apic15069_sc115.com.jpg" alt="">#}
{#    <img style="height: 300pt" src="/media/{{ user.image1 }}" alt="">#}

{#    gallery展示#}
    <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
{#                <a href="javascript:" class="weui-gallery__del" id="showDialog">#}
{#                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>#}
{#                </a>#}
            </div>
    </div>



    <div class="weui-cells weui-cells_form">
        <form method="post">
{#            <div class="weui-cells__title">照片</div>#}
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <li class="weui-uploader__file" style="background-image:url({{ url_avatar }})"></li>
                            {% for i in imgs %}
                            <li class="weui-uploader__file" style="background-image:url({{ i.image }})"></li>
                            {% endfor %}
                        </ul>
{#                        <div class="weui-uploader__input-box">#}
{#                            <input id="uploaderInput" class="weui-uploader__input js_file" type="file" accept="image/*" multiple>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
{#            <div class="weui-btn-area"><a href="javascript:;" class="weui-btn weui-btn_primary">保存</a></div>#}
        </form>
    </div>

    <!-- 礼物 -->
    <div class="weui-cells__title" style="">神器</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <div class="weui-uploader__bd" >
                    <ul class="weui-uploader__files" id="uploaderFiles" >
                        <li  class="weui-uploader__file"  style="background-image:url({{ img_gift.0 }});background-size: 50px" id="giftFlower">
                            <p style="margin-top: 70px;margin-left: 0px ;font-size: 14px" align="center"> <span id="flowerSum">{{ info.giftFlower }}</span></p>
                        </li>
{#                            <li  class="weui-uploader__file"  style="background-image:url({{ img_gift.1 }});background-size: 50px">#}
{#                                                                <p style="margin-top: 70px;margin-left: 20px ">33</p>#}
{##}
{#                            </li>#}
{#                            <li  class="weui-uploader__file"  style="background-image:url({{ img_gift.2 }});background-size: 50px">#}
{#                                                                <p style="margin-top: 70px;margin-left: 20px ">33</p>#}
{##}
{#                            </li>#}
{#                            <li  class="weui-uploader__file"  style="background-image:url({{ img_gift.3 }});background-size: 50px">#}
{#                                                                <p style="margin-top: 70px;margin-left: 20px ">33</p>#}
{##}
{#                            </li>#}
                    </ul>
                </div>
            </div>
        </div>
        {% if myself == '1' %}
        <div class="weui-cell">
            <div class="weui-cell__bd" >
                <p class="item" style="font-size: 14px">可用积分:<span>{{ scoreArray.0 }}</span>（今天有效: <span>{{ scoreArray.1 }}</span>，永久有效:<span>{{ scoreArray.2 }}</span>）</p>
            </div>
{#            <div class="weui-cell__ft, desc" id="sexText"></div>#}
        </div>
        {% endif %}
    </div>





    <br>
        {% if myself == '1' %}
    <div class="weui-cells__title" style="margin-bottom: -10px; font-size: 14px">我的ID：{{ user.id }}</div>
        {% endif %}
    <div class="weui-panel weui-panel_access">
{#            <div class="weui-panel__hd">文字组合列表</div>#}
        <div class="weui-panel__bd" style="float: left">
            <div class="weui-media-box weui-media-box_text">
                <h3 class="weui-media-box__title">{{ user.name }}</h3>
                <p class="weui-media-box__desc">
{#                    男，20~30，星座#}
                    <span id="sex"></span>
                    <span id="age"></span>
                    <span>{{ user.xingzuo }}</span>
                </p>
            </div>
        </div>

        {% if myself == '1' %}
        <div style="float: right; margin-right: 15px; margin-top: 20px">
            <a href="{{ url }}" class="weui-btn weui-btn_mini weui-btn_primary">完善资料</a>
        </div>
        {% else %}
        <div style="float: right; margin-right: 15px; margin-top: 20px">
            <a href="{{ message_url }}" class="weui-btn weui-btn_mini weui-btn_default">留言</a>
        </div>

            <!-- 男女都显示送花，则显示 送花-->
                {%  if my.sex == '1' or my.sex == '0'%}
            <div style="float: right; margin-right: 15px; margin-top: 20px">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" id="sendFlower" >送花 <span id="flowerCount"></span></a>
            </div>
                {% endif %}

{#            <!-- 如果自己是女的，并且对方在有效时间内-->#}
                {%  if canMatch == '1'%}
            <div style="float: right; margin-right: 15px; margin-top: 20px">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" id="getMatch">宠幸他</a>
            </div>
                {% endif %}
        {% endif %}
    </div>


    <div class="weui-cells__title">基本资料</div>
    <div class="weui-cells">
{#        <div class="weui-cell">#}
{#            <div class="weui-cell__bd" >#}
{#                <p class="item">在线状态</p>#}
{#            </div>#}
{#            <div class="weui-cell__ft, desc">在线</div>#}
{#        </div>#}
{#        <div class="weui-cell">#}
{#            <div class="weui-cell__bd" >#}
{#                <p class="item">性别</p>#}
{#            </div>#}
{#            <div class="weui-cell__ft, desc" id="sexText"></div>#}
{#        </div>#}

        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">性别</label></div>
        <div class="weui-cell__bd desc" id="sexText"></div>
        </div>


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">年龄</label></div>
        <div class="weui-cell__bd desc" id="agePicker">18-20</div>
        </div>



        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">星座</label></div>
        <div class="weui-cell__bd desc">{{ user.xingzuo }}</div>
        </div>



        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">所在城市</label></div>
        <div class="weui-cell__bd desc">{{ user.city }}</div>
        </div>


    </div>

    <div class="weui-cells__title">个人信息</div>
    <div class="weui-cells">
{#        <div class="weui-cell">#}
{#            <div class="weui-cell__bd" >#}
{#                <p class="item">在线状态</p>#}
{#            </div>#}
{#            <div class="weui-cell__ft, desc">在线</div>#}
{#        </div>#}


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">行业</label></div>
        <div class="weui-cell__bd desc">{{ user.industry }}</div>
        </div>




        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">职责</label></div>
        <div class="weui-cell__bd desc">{{ info.job }}</div>
        </div>




        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">公司</label></div>
        <div class="weui-cell__bd desc">{{ info.company }}</div>
        </div>


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">家乡</label></div>
        <div class="weui-cell__bd desc">{{ info.hometown }}</div>
        </div>



        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">经常出没</label></div>
        <div class="weui-cell__bd desc">{{ info.place }}</div>
        </div>


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">个性签名</label></div>
        <div class="weui-cell__bd desc">{{ user.introduction }}</div>
        </div>

    </div>


      <div class="weui-cells__title">我的兴趣</div>
    <div class="weui-cells">
{#        <div class="weui-cell">#}
{#            <div class="weui-cell__bd" >#}
{#                <p class="item">在线状态</p>#}
{#            </div>#}
{#            <div class="weui-cell__ft, desc">在线</div>#}
{#        </div>#}


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">运动</label></div>
        <div class="weui-cell__bd desc">{{ info.sport }}</div>
        </div>


{#        <div class="weui-cell">#}
{#            <div class="weui-cell__bd" >#}
{#                <p class="item">运动</p>#}
{#            </div>#}
{#            <div class="weui-cell__ft, desc" >{{ info.sport }}</div>#}
{#        </div>#}


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">音乐</label></div>
        <div class="weui-cell__bd desc">{{ info.music }}</div>
        </div>



        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">食物</label></div>
        <div class="weui-cell__bd desc">{{ info.food }}</div>
        </div>


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">电影</label></div>
        <div class="weui-cell__bd desc">{{ info.movie }}</div>
        </div>


        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">书或动漫</label></div>
        <div class="weui-cell__bd desc">{{ info.book }}</div>
        </div>



        <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label item">旅行足迹</label></div>
        <div class="weui-cell__bd desc">{{ info.foot }}</div>
        </div>

    </div>


    <br>
    <br>

        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">已配对TA，点【确定】到微信聊天</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="match">确定</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->

        <!--BEGIN dialog3-->
        <div class="js_dialog" id="iosDialog3" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">对方不在状态，请稍候再试</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="noMatch1">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog3-->


        <!--BEGIN dialog5-->
        <div class="js_dialog" id="iosDialog5" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">你与别人对话中，请回到首页退出聊天后再尝试</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="noMatch2">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog5-->


        <!--BEGIN dialog4 积分用完-->
        <div class="js_dialog" id="iosDialog4" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">不能送花了，因为你已没有积分!<br>可邀请朋友"打气"获得积分</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="leave">取消</a>
                    <a href="{{ url_daqi }}" class="weui-dialog__btn weui-dialog__btn_primary" id="">去邀请</a>
                </div>
            </div>
        </div>



    <!--BEGIN toast-->
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>

            <p class="weui-toast__content">
                送出 1 朵花
                <br>
                (可用积分：<span id="score_avaiable">1</span>）
            </p>
        </div>
    </div>
    <!--end toast-->


    <!--BEGIN toast  提醒有积分-->
    <div id="toast2" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>

            <p class="weui-toast__content">
                每天你有 {{my.score_today}} 积分，可用来送花给心仪的TA，引起TA注意喔
            </p>
        </div>
    </div>
    <!--end toast-->



        <!--BEGIN dialog6 提示获得积分，可以送花-->
        <div class="js_dialog" id="iosDialog6" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">今天你有 {{ scoreArray.0 }} 积分，可用来送花给心仪的TA，引起TA注意喔</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="close6">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog6-->



</body>
</html>


