<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改资料</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        body {background-color: #f8f8f8}
    </style>


    <script type="text/javascript">
        $(document).ready(function() {
            picker = $('#showPicker');
            sexInput = $('#sexInput');

            //给性别默认赋值, 初始化
            sexValue = {{ my.sex}};
            sexInput.val(sexValue);
            if (sexValue === 0) {
                picker.text('女');  //取label
            }
            else if (sexValue === 1) {
                picker.text('男');
            }
            else if (sexValue === 2) {
                picker.text('其他');
            }


            picker.click(function () {
                    weui.picker([{
                        label: '女',
                        value: 0
                    }, {
                        label: '男',
                        value: 1
                    }, {
                        label: '其他',
                        value: 2
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            sexInput.val(result);  //赋值
                            picker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            });



            agePicker = $('#agePicker');
            ageInput = $('#ageInput');
            //给年龄默认赋值
            ageValue = {{ my.age }};
            ageInput.val(ageValue);
            if (ageValue === 0) {
{#                alert("666");#}
                agePicker.text('12~18')
            }
            if (ageValue === 1) {
                agePicker.text('18~25')
            }
            if (ageValue === 2) {
                agePicker.text('25~32')
            }
            if (ageValue === 3) {
                agePicker.text('33~40')
            }
            if (ageValue === 4) {
                agePicker.text('40~50')
            }
            if (ageValue === 5) {
                agePicker.text('50+')
            }


            agePicker.click(function () {
                    weui.picker([{
                        label: '12~18',
                        value: 0
                    }, {
                        label: '18~25',
                        value: 1
                    }, {
                        label: '25~32',
                        value: 2
                    },{
                        label: '33~40',
                        value: 3
                    },{
                        label: '40~50',
                        value: 4
                    },{
                        label: '50+',
                        value: 5
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            ageInput.val(result);  //赋值
                            agePicker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            })

        });



</script>


    <script type="text/javascript" class="uploader js_show">
    $(function(){
        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles")
            ;

        $uploaderInput.on("change", function(e){
            var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];

                if (url) {
                    src = url.createObjectURL(file);
                } else {
                    src = e.target.result;
                }

                $uploaderFiles.append($(tmpl.replace('#url#', src)));
            }
        });
        $uploaderFiles.on("click", "li", function(){
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });
    });</script>

</head>

<body>



    <div class="container" id="app">
      <h3 class="text-center">修改资料</h3>
{#        [[ message ]]#}
{#    </div>#}
{#    <div>用户名1：{{ my.name }}</div>#}
{#    <div>状态：{{ my.state }}</div>#}
{#    <div>可用积分：{{ my.score_today }}</div>#}


 <div class="weui-cells weui-cells_form" id="uploaderCustom">
     <div class="weui-cell">
         <div class="weui-cell__bd">
             <div class="weui-uploader">
                 <div class="weui-uploader__hd">
                     <p class="weui-uploader__title">图片上传</p>
                 </div>
                 <div class="weui-uploader__bd">
                 <ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
                 <div class="weui-uploader__input-box"> <input id="uploaderCustomInput" class="weui-uploader__input" type="file" accept="image/*" multiple=""></div>
                 </div>
             </div>
         </div>
     </div>
 </div>


<div class="page__hd">
        <h1 class="page__title">Uploader</h1>
        <p class="page__desc">上传组件，一般配合<a class="link" href="#gallery">组件Gallery</a>来使用。[www.vxzsk.com V型知识库原创]</p>
    </div>

    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
        </div>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">图片上传</p>
                            <div class="weui-uploader__info">0/2</div>
                        </div>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">
                                <li class="weui-uploader__file" style="background-image:url(https://weui.io/images/pic_160.png)"></li>
                                <li class="weui-uploader__file" style="background-image:url(https://weui.io/images/pic_160.png)"></li>
                                <li class="weui-uploader__file" style="background-image:url(https://weui.io/images/pic_160.png)"></li>
                                <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(https://weui.io/i/images/pic_160.png)">
                                    <div class="weui-uploader__file-content">
                                        <i class="weui-icon-warn"></i>
                                    </div>
                                </li>
                                <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(https://weui.io/i/images/pic_160.png)">
                                    <div class="weui-uploader__file-content">50%</div>
                                </li>
                            </ul>
                            <div class="weui-uploader__input-box">
                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container" id="pp">

        <div class="weui-cells__title">资料</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" >呢称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.name }}" name="name"  placeholder="请输入呢称"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                <div class="weui-cell__bd">
                    <input  class="weui-input" type="hidden" value="{{ my.sex }}"  name="sexInput" id="sexInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="showPicker">性别</a>


                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">年龄段</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="hidden" value="{{ my.age }}" name="ageInput" id="ageInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="agePicker">年龄段</a>

                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">星座</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.xingzuo }}" name="xingzuo" placeholder="请输入星座"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">城市</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.city }}" name="city" placeholder="请输入所在城市"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">行业</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.industry }}" name="industry" placeholder="请输入所在行业"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">个性签名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.introduction }}" name="introduction" placeholder="请输入个人介绍"/>
                </div>
            </div>
        </div>
{#            <div><img src="/media/{{ my.image1 }}" name="showImage1"></div>#}
{#                <img src="">#}
{#            <div><input type="file" id="file" name="image1"  /></div>#}


        <div class="weui-btn-area">
            <input type="submit" value="确定" class="weui-btn weui-btn_primary">
{#            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" type="sumit">确定</a>#}
        </div>
    </div>

</form>



<!--
<script type="text/javascript">
    const vm = new Vue({
    delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: "ttttttttt"
  }
});
</script>
-->
{#    <script src="../js/app.js"></script>#}

</body>
</html>


