<!DOCTYPE html> <!-- 666666 2017.10.23 -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改资料</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        body {background-color: #f8f8f8}
    </style>


    <script type="text/javascript">
        $(document).ready(function() {
            picker = $('#showPicker');
            sexInput = $('#sexInput');

            //给性别默认赋值, 初始化
            sexValue = {{ my.sex}};
            sexInput.val(sexValue);
            if (sexValue === 0) {
                picker.text('女');  //取label
            }
            else if (sexValue === 1) {
                picker.text('男');
            }
            else if (sexValue === 2) {
                picker.text('其他');
            }


            picker.click(function () {
                    weui.picker([{
                        label: '女',
                        value: 0
                    }, {
                        label: '男',
                        value: 1
                    }, {
                        label: '其他',
                        value: 2
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            sexInput.val(result);  //赋值
                            picker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            });



            agePicker = $('#agePicker');
            ageInput = $('#ageInput');
            //给年龄默认赋值
            ageValue = {{ my.age }};
            ageInput.val(ageValue);
            if (ageValue === 0) {
{#                alert("666");#}
                agePicker.text('12~18')
            }
            if (ageValue === 1) {
                agePicker.text('18~25')
            }
            if (ageValue === 2) {
                agePicker.text('25~32')
            }
            if (ageValue === 3) {
                agePicker.text('33~40')
            }
            if (ageValue === 4) {
                agePicker.text('40~50')
            }
            if (ageValue === 5) {
                agePicker.text('50+')
            }


            agePicker.click(function () {
                    weui.picker([{
                        label: '12~18',
                        value: 0
                    }, {
                        label: '18~25',
                        value: 1
                    }, {
                        label: '25~32',
                        value: 2
                    },{
                        label: '33~40',
                        value: 3
                    },{
                        label: '40~50',
                        value: 4
                    },{
                        label: '50+',
                        value: 5
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            ageInput.val(result);  //赋值
                            agePicker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            })

        });



</script>


    <script type="text/javascript" class="uploader js_show">
 		$(function() {
			// 允许上传的图片类型
			var allowTypes = [ 'image/jpg', 'image/jpeg', 'image/png', 'image/gif' ];
			// 1024KB，也就是 1MB
{#			var maxSize = 1024 * 1024;#}
			var maxSize = 5000 * 5000;
			// 图片最大宽度
			var maxWidth = 500;
{#			var maxWidth = 3000;#}
			// 最大上传图片数量
			var maxCount = 6;

			//刷新头像
			$('#avatar').on('change',function (event) {

			    avatar_form = $("#avatar_form");
			    avatar_key = $("#avatar_key");
			    avatar_key.val('1');
			    avatar_form.ajaxSubmit({
                    success: function(data) {
                        if (data === '1') {
{#			     		    alert('yy');#}
                            window.location.reload();
                        }
                    }
                });
                event.stopPropagation();
			    $('#avatar').val('');
			    avatar_key.val('');
            });




			//微信官方upload的js
            var uploadCount = 0;
            weui.uploader('#uploader', {
               url: 'http://127.0.0.1:8000/modify-info/',
               auto: true,
               type: 'file',
               fileVal: 'fileVal',
               compress: {
                   width: 1600,
                   height: 1600,
                   quality: .8
               },
               onBeforeQueued: function(files) {
                   // `this` 是轮询到的文件, `files` 是所有文件

                   if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
                       weui.alert('请上传图片');
                       return false; // 阻止文件添加
                   }
                   if(this.size > 10 * 1024 * 1024){
                       weui.alert('请上传不超过10M的图片');
                       return false;
                   }
                   if (files.length > 5) { // 防止一下子选择过多文件
                       weui.alert('最多只能上传5张图片，请重新选择');
                       return false;
                   }
                   if (uploadCount + 1 > 5) {
                       weui.alert('最多只能上传5张图片');
                       return false;
                   }

                   ++uploadCount;

                   // return true; // 阻止默认行为，不插入预览图的框架
               },
               onQueued: function(){
                   console.log(this);

                   // console.log(this.status); // 文件的状态：'ready', 'progress', 'success', 'fail'
                   // console.log(this.base64); // 如果是base64上传，file.base64可以获得文件的base64

                   // this.upload(); // 如果是手动上传，这里可以通过调用upload来实现；也可以用它来实现重传。
                   // this.stop(); // 中断上传

                   // return true; // 阻止默认行为，不显示预览图的图像
               },
               onBeforeSend: function(data, headers){
                   console.log(this, data, headers);
                   // $.extend(data, { test: 1 }); // 可以扩展此对象来控制上传参数
                   // $.extend(headers, { Origin: 'http://127.0.0.1' }); // 可以扩展此对象来控制上传头部

                   // return false; // 阻止文件上传
               },
               onProgress: function(procent){
                   console.log(this, procent);
                   // return true; // 阻止默认行为，不使用默认的进度显示
               },
               onSuccess: function (ret) {
                   console.log(this, ret);
                   // return true; // 阻止默认行为，不使用默认的成功态
               },
               onError: function(err){
                   console.log(this, err);
                   // return true; // 阻止默认行为，不使用默认的失败态
               }
            });





            //刷新相册
			$('.js_file').on('change', function(event) {
				var files = event.target.files;



				// 如果没有选中文件，直接返回
				if (files.length === 0) {
					return;
				}

				for (var i = 0, len = files.length; i < len; i++) {
					var file = files[i];
					var reader = new FileReader();
					// 如果类型不在允许的类型范围内
					if (allowTypes.indexOf(file.type) === -1) {
						$.weui.alert({
							text : '该类型不允许上传'
						});
						continue;
					}
 					if (file.size > maxSize) {
 						$.weui.alert({
 							text : '图片太大，不允许上传'
 						});
 						continue;
 					}
 					if ($('.weui-uploader__file').length >= maxCount) {
{# 						$.weui.alert({#}
{# 							text : '最多只能上传' + maxCount + '张图片'#}
{# 						});#}
 						alert('最多只能上传' + maxCount + '张照片');
 						return;
 					}
					reader.onload = function(e) {
						var img = new Image();
						img.onload = function() {

							// 不要超出最大宽度
							var w = Math.min(maxWidth, img.width);
							// 高度按比例计算
							var h = img.height * (w / img.width);
							var canvas = document.createElement('canvas');
							var ctx = canvas.getContext('2d');



							// 设置 canvas 的宽度和高度
							canvas.width = w;
							canvas.height = h;
							ctx.drawImage(img, 0, 0, w, h);
							var base64 = canvas.toDataURL('image/png');
{#                            alert('1');#}
							// 插入到预览区
							var $preview = $('<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url('
									+ base64 + ')"><div class="weui-uploader__file-content">0%</div></li>');

							$('.weui-uploader__files').append($preview);


							//异步post图片到后台,by mike
                            $base64 = $('#base64');
                            $base64.val(base64);
{#                            $("#summit_form").ajaxSubmit({});#}
{#                            $("#summit_form").ajaxSubmit({#}
{#                                success:function(data,textStatus){#}
{#                                    if(data === "1"){#}
{#                                        alert('333555');#}
{#                                    }#}
{#                                    else{#}
{##}
{#                                    }#}
{#                                }#}
{#                            });#}

{#                            alert('2');#}
							// 然后假装在上传，可以post base64格式，也可以构造blob对象上传，也可以用微信JSSDK上传
							var progress = 0;
							function uploading() {
								$preview.find('.weui-uploader__file-content').text(++progress + '%');
								if (progress < 100) {
									setTimeout(uploading, 30);

								} else {
									// 如果是失败，塞一个失败图标
									//$preview.find('.weui-uploader__file-content').html('<i class="weui_icon_warn"></i>');
									$preview.removeClass('weui-uploader__file_status')
											.find('.weui-uploader__file-content')
											.remove();
								}
							}
							setTimeout(uploading, 30);
						};
						img.src = e.target.result;
					};
					reader.readAsDataURL(file);
				}
			});


			//展示gallery
            index = 0; //具体哪个图片
			$gallery = $("#gallery");
            $galleryImg = $("#galleryImg");
{#            $uploaderFiles = $("#uploaderFiles");#}
            $(".weui-uploader__files li").click(function () {
{#                alert( $(this).index());#}
                index = $(this).index();
                $galleryImg.attr("style", this.getAttribute("style"));
                $gallery.fadeIn(100);
            });

            $gallery.on("click", function(){
                $gallery.fadeOut(100);
            });



            //弹出删除对话框
            $iosDialog1 = $("#iosDialog1");
            $('#showDialog').on('click', function(){
                $iosDialog1.fadeIn(200);
            });
                //点取消按钮
            $iosDialog1.on('click', '.weui-dialog__btn_default', function(){
                $iosDialog1.fadeOut(200);

            });
                //点确定按钮，删除图片
            $iosDialog1.on('click', '.weui-dialog__btn_primary', function(){
                $iosDialog1.fadeOut(200);
                $("ul").find("li").eq(index).remove();
                delete_img = $("#delete_img");
                delete_img.val(index);
{#                $('#base64').val(' ');  //post前把图片data清理#}
                $("#summit_form").ajaxSubmit({});

            });


		});

    </script>

</head>

<body>


    <div class="container" id="app">
      <h3 class="text-center">修改资料</h3>
{#        [[ message ]]#}
{#    </div>#}
{#    <div>用户名1：{{ my.name }}</div>#}
{#    <div>状态：{{ my.state }}</div>#}
{#    <div>可用积分：{{ my.score_today }}</div>#}
    </div>

    <form class="" action="" method="post" enctype="multipart/form-data" id="avatar_form">
        {% csrf_token %}
    <div class="weui-panel weui-panel_access">
{#            <div class="weui-panel__hd">图文组合列表</div>#}
            <div class="weui-panel__bd">
                <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">

                        <img class="weui-media-box__thumb"id="show_big_avatar" src="{{ my.image_url }}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">头像</h4>

            <div><input type="file" id="avatar" name="avatar"  calss="" /></div>
            <div><input type="hidden" id="avatar_key" name="avatar_key" value=""  /></div>

{#                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>#}
                    </div>
                </a>
            </div>
        </div>
    </form>


    <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del" id="showDialog">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
    </div>



    <div class="weui-cells weui-cells_form" id="uploader">
        <form method="post"  enctype="multipart/form-data">
         {% csrf_token %}
            <div class="weui-cells__title">照片</div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            {% for i in imgs %}
                            <li class="weui-uploader__file" style="background-image:url({{ i.image }})">
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input js_file" type="file" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp" multiple>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="weui-btn-area"><a href="javascript:;" class="weui-btn weui-btn_primary">保存</a></div>#}
        </form>
    </div>






<form class="" action="" method="post" enctype="multipart/form-data" id="summit_form">
        {% csrf_token %}
    <div class="container" id="pp">

        <!-- 隐藏标标签来传递数据 -->
{#        <input class="weui-input" type="hidden"  value=" " name="base64" id="base64" placeholder=""/>#}
        <input class="weui-input" type="hidden"  value=" " name="delete_img" id="delete_img" placeholder=""/>

        <div class="weui-cells__title">资料</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" >呢称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.name }}" name="name"  placeholder="请输入呢称"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                <div class="weui-cell__bd">
                    <input  class="weui-input" type="hidden" value="{{ my.sex }}"  name="sexInput" id="sexInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="showPicker">性别</a>


                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">年龄段</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="hidden" value="{{ my.age }}" name="ageInput" id="ageInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="agePicker">年龄段</a>

                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">星座</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.xingzuo }}" name="xingzuo" placeholder="请输入星座"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">城市</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.city }}" name="city" placeholder="请输入所在城市"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">行业</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.industry }}" name="industry" placeholder="请输入所在行业"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">个性签名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.introduction }}" name="introduction" placeholder="请输入个人介绍"/>
                </div>
            </div>
        </div>


        <div class="weui-btn-area">
            <input type="submit" value="确定" class="weui-btn weui-btn_primary">
{#            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" type="sumit">确定</a>#}
        </div>
    </div>

</form>


    <div id="dialogs">
        <!--BEGIN dialog1-->
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">确定删除该图片？</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="delete_cancel">取消</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="delete_confirm">确定</a>
                </div>
            </div>
        </div>
    </div>

<!--
<script type="text/javascript">
    const vm = new Vue({
    delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: "ttttttttt"
  }
});
</script>
-->
{#    <script src="../js/app.js"></script>#}

</body>
</html>


