<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改资料</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>


</head>

<body>





    <div class="container" id="app">
      <h3 class="text-center">修改资料</h3>
{#        [[ message ]]#}
    </div>
    <div>用户名：{{ my.name }}</div>
    <div>状态：{{ my.state }}</div>
    <div>可用积分：{{ my.score_today }}</div>

<form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container" id="pp">
 
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" >名字</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="name"  placeholder="请输入呢称"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">星座</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="xingzuo" placeholder="请输入星座"/>
                </div>
            </div>
            <div><img src="/media/{{ my.image1 }}" name="showImage1"></div>
                <img src="">
            <div><input type="file" id="file" name="image1"  /></div>


        </div>
        <div class="weui-btn-area">
            <input type="submit" value="确定" class="weui-btn weui-btn_primary">

{#            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" type="sumit">确定</a>#}
        </div>
    </div>

</form>



<!--
<script type="text/javascript">
    const vm = new Vue({
    delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: "ttttttttt"
  }
});
</script>
-->
    <script src="../js/app.js"></script>

</body>
</html>


