<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改资料</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#        <script src="https://unpkg.com/vue"></script>#}

    <style type="text/css">
        body {background-color: #f8f8f8}
    </style>


    <script type="text/javascript">
        $(document).ready(function() {
            picker = $('#showPicker');
            sexInput = $('#sexInput');

            //给性别默认赋值, 初始化
            sexValue = {{ my.sex}};
            sexInput.val(sexValue);
            if (sexValue === 0) {
                picker.text('女');  //取label
            }
            else if (sexValue === 1) {
                picker.text('男');
            }
            else if (sexValue === 2) {
                picker.text('其他');
            }


            picker.click(function () {
                    weui.picker([{
                        label: '女',
                        value: 0
                    }, {
                        label: '男',
                        value: 1
                    }, {
                        label: '其他',
                        value: 2
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            sexInput.val(result);  //赋值
                            picker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            });



            agePicker = $('#agePicker');
            ageInput = $('#ageInput');
            //给年龄默认赋值
            ageValue = {{ my.age }};
            ageInput.val(ageValue);
            if (ageValue === 0) {
{#                alert("666");#}
                agePicker.text('12~18')
            }
            if (ageValue === 1) {
                agePicker.text('18~25')
            }
            if (ageValue === 2) {
                agePicker.text('25~32')
            }
            if (ageValue === 3) {
                agePicker.text('33~40')
            }
            if (ageValue === 4) {
                agePicker.text('40~50')
            }
            if (ageValue === 5) {
                agePicker.text('50+')
            }


            agePicker.click(function () {
                    weui.picker([{
                        label: '12~18',
                        value: 0
                    }, {
                        label: '18~25',
                        value: 1
                    }, {
                        label: '25~32',
                        value: 2
                    },{
                        label: '33~40',
                        value: 3
                    },{
                        label: '40~50',
                        value: 4
                    },{
                        label: '50+',
                        value: 5
                    }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            ageInput.val(result);  //赋值
                            agePicker.text(result[0].label);  //取label
                            console.log(result);
                     }
                    });
            })

        });



</script>


    <script type="text/javascript" class="uploader js_show">
 		$(function() {
			// 允许上传的图片类型
			var allowTypes = [ 'image/jpg', 'image/jpeg', 'image/png', 'image/gif' ];
			// 1024KB，也就是 1MB
			var maxSize = 1024 * 1024;
			// 图片最大宽度
			var maxWidth = 300;
			// 最大上传图片数量
			var maxCount = 6;
			$('.js_file').on('change', function(event) {
				var files = event.target.files;
				// 如果没有选中文件，直接返回
				if (files.length === 0) {
					return;
				}
				for (var i = 0, len = files.length; i < len; i++) {
					var file = files[i];
					var reader = new FileReader();
					// 如果类型不在允许的类型范围内
					if (allowTypes.indexOf(file.type) === -1) {
						$.weui.alert({
							text : '该类型不允许上传'
						});
						continue;
					}
 					if (file.size > maxSize) {
 						$.weui.alert({
 							text : '图片太大，不允许上传'
 						});
 						continue;
 					}
 					if ($('.weui_uploader_file').length >= maxCount) {
 						$.weui.alert({
 							text : '最多只能上传' + maxCount + '张图片'
 						});
 						return;
 					}
					reader.onload = function(e) {
						var img = new Image();
						img.onload = function() {
							// 不要超出最大宽度
							var w = Math.min(maxWidth, img.width);
							// 高度按比例计算
							var h = img.height * (w / img.width);
							var canvas = document.createElement('canvas');
							var ctx = canvas.getContext('2d');
							// 设置 canvas 的宽度和高度
							canvas.width = w;
							canvas.height = h;
							ctx.drawImage(img, 0, 0, w, h);
							var base64 = canvas.toDataURL('image/png');

							// 插入到预览区
							var $preview = $('<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url('
									+ base64 + ')"><div class="weui-uploader__file-content">0%</div></li>');

							$('.weui-uploader__files').append($preview);

							// 然后假装在上传，可以post base64格式，也可以构造blob对象上传，也可以用微信JSSDK上传
							var progress = 0;
							function uploading() {
								$preview.find('.weui-uploader__file-content').text(++progress + '%');
								if (progress < 100) {
									setTimeout(uploading, 30);
								} else {
									// 如果是失败，塞一个失败图标
									//$preview.find('.weui-uploader__file-content').html('<i class="weui_icon_warn"></i>');
									$preview.removeClass('weui-uploader__file_status')
											.find('.weui-uploader__file-content')
											.remove();
								}
							}
							setTimeout(uploading, 30);
						};
						img.src = e.target.result;
					};
					reader.readAsDataURL(file);
				}
			});
		});

    </script>

</head>

<body>



    <div class="container" id="app">
      <h3 class="text-center">修改资料</h3>
{#        [[ message ]]#}
{#    </div>#}
{#    <div>用户名1：{{ my.name }}</div>#}
{#    <div>状态：{{ my.state }}</div>#}
{#    <div>可用积分：{{ my.score_today }}</div>#}


 <div class="weui-cells weui-cells_form" id="uploaderCustom">
     <div class="weui-cell">
         <div class="weui-cell__bd">
             <div class="weui-uploader">
                 <div class="weui-uploader__hd">
                     <p class="weui-uploader__title">图片上传</p>
                 </div>
                 <div class="weui-uploader__bd">
                 <ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
                 <div class="weui-uploader__input-box"> <input id="uploaderCustomInput" class="weui-uploader__input" type="file" accept="image/*" multiple=""></div>
                 </div>
             </div>
         </div>
     </div>
 </div>

<div class="weui-cells weui-cells_form">
	<form method="post">
		<div class="weui-cells__title">照片</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<div class="weui-uploader__bd">
					<ul class="weui-uploader__files">
						<li class="weui-uploader__file" style="background-image:url(http://imgsize.ph.126.net/?imgurl=http://cms-bucket.nosdn.127.net/ba2d23de68ad4dcc8ed67622f911f14c20170113154227.png_140x88x1x85.jpg)">
						</li>
					</ul>
					<div class="weui-uploader__input-box">
						<input id="uploaderInput" class="weui-uploader__input js_file" type="file" accept="image/*" multiple>
					</div>
				</div>
			</div>
		</div>
		<div class="weui-btn-area"><a href="javascript:;" class="weui-btn weui-btn_primary">保存</a></div>
	</form>
</div>






<form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container" id="pp">

        <div class="weui-cells__title">资料</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" >呢称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.name }}" name="name"  placeholder="请输入呢称"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                <div class="weui-cell__bd">
                    <input  class="weui-input" type="hidden" value="{{ my.sex }}"  name="sexInput" id="sexInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="showPicker">性别</a>


                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">年龄段</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="hidden" value="{{ my.age }}" name="ageInput" id="ageInput" placeholder=""/>
                    <a href="javascript:;" class="weui-btn weui-btn_default" id="agePicker">年龄段</a>

                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">星座</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.xingzuo }}" name="xingzuo" placeholder="请输入星座"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">城市</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.city }}" name="city" placeholder="请输入所在城市"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">行业</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.industry }}" name="industry" placeholder="请输入所在行业"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">个性签名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  value="{{ my.introduction }}" name="introduction" placeholder="请输入个人介绍"/>
                </div>
            </div>
        </div>
{#            <div><img src="/media/{{ my.image1 }}" name="showImage1"></div>#}
{#                <img src="">#}
{#            <div><input type="file" id="file" name="image1"  /></div>#}


        <div class="weui-btn-area">
            <input type="submit" value="确定" class="weui-btn weui-btn_primary">
{#            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" type="sumit">确定</a>#}
        </div>
    </div>

</form>



<!--
<script type="text/javascript">
    const vm = new Vue({
    delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: "ttttttttt"
  }
});
</script>
-->
{#    <script src="../js/app.js"></script>#}

</body>
</html>


